@model NatechProject.Models.Sale

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Sale</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="SaleId" />
            <div class="form-group">
                <label asp-for="SalePrice" class="control-label"></label>
                <input asp-for="SalePrice" class="form-control" />
                <span asp-validation-for="SalePrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SaleDate" class="control-label"></label>
                <input asp-for="SaleDate" class="form-control" />
                <span asp-validation-for="SaleDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SalesmanId" class="control-label">Salesman</label>
                <select asp-for="SalesmanId" class="form-control" asp-items="ViewBag.SalesmanId"></select>
                <span asp-validation-for="SalesmanId" class="text-danger"></span>
            </div>
            <div class="form-group customFlex">
                <input type="submit" value="Save" class="btn btn-primary" />
                <div>
                    <a asp-action="Index" class="customButton">Back to List</a>
                </div>
            </div>
        </form>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
